{% extends 'aplicacion/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'aplicacion/css/equipos.css' %}">
{% endblock %}

{% block contenido %}
    <h2>Equipos Registrados</h2>
    
    <div class="lista-equipos">
        {% for equipo in equipos %}
            <div class="tarjeta-equipo">
                <h3>{{ equipo.nombre }}</h3>
                <ul>
                    {% for jugador in equipo.jugadores.all %}
                        <li>{{ jugador.nombre }}</li>
                    {% empty %}
                        <li>No hay jugadores registrados.</li>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
            <p>No hay equipos registrados.</p>
        {% endfor %}
    </div>
{% endblock %}
