{% extends 'aplicacion/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'aplicacion/css/tabla.css' %}">
{% endblock %}

{% block contenido %}
    <h2>Tabla de Posiciones</h2>
    
    <table class="tabla-posiciones">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Jugados</th>
                <th>Ganados</th>
                <th>Empatados</th>
                <th>Perdidos</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for estadistica in estadisticas %}
                <tr>
                    <td>{{ estadistica.equipo.nombre }}</td>
                    <td>{{ estadistica.jugados }}</td>
                    <td>{{ estadistica.ganados }}</td>
                    <td>{{ estadistica.empatados }}</td>
                    <td>{{ estadistica.perdidos }}</td>
                    <td><strong>{{ estadistica.puntos }}</strong></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay datos en la tabla.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
